{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "import"
  ],
  "extends": [
    "plugin:astro/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^@components/"
          ],
          [
            "^@layouts/"
          ]
        ]
      }
    ],
    "import/first": "error",
    "import/no-duplicates": "error"
  },
  "overrides": [
    {
      "files": [
        "*.astro"
      ],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [
          ".astro"
        ]
      },
      "rules": {
        "astro/no-conflict-set-directives": "error",
        "astro/no-unused-define-vars-in-style": "error"
      }
    },
    {
      "files": [
        "**/*.astro/*.js",
        "*.astro/*.js"
      ],
      "env": {
        "browser": true,
        "es2020": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "prettier/prettier": "off"
      }
    }
  ]
}