---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogList from "../../components/BlogList.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout
  description={post.data.description}
  title={post.data.title}
  keywords={post.data.keywords}>
  <div
    class="text-gray-text flex flex-col gap-4 p-4 pb-8 text-sm text-pretty dark:text-white/90">
    <Content components={{ ul: BlogList }} />
  </div>
</Layout>
