@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --width-half: 50%;
  --list-style-type-hyphen: "– ";
  --background-image-blog-gradient: var(--blog-gradient);
  --background-image-blog-hero-gradient: var(--blog-hero-gradient);

  --color-success: var(--sucess);
  --color-destructive: var(--destructive);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --shadow-blog: var(--shadow-blog);

  --color-code-bg: var(--code-bg);
}

@layer components {
  [data-blog-content] *:is(h2, h3, h4, h5, h6) {
    @apply text-foreground w-fit scroll-mt-8 items-center font-semibold;
  }

  [data-blog-content] *:is(h2) {
    @apply text-xl;
  }

  [data-blog-content] *:is(h3, h4, h5, h6) {
    @apply text-lg;
  }

  [data-blog-content] a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6) {
    @apply underline;
  }

  [data-anchor-link] {
    @apply flex gap-3;
  }

  [data-anchor-link]:hover > [data-anchor-hash] {
    @apply opacity-100;
  }

  [data-anchor-hash] {
    @apply opacity-30 transition-opacity duration-300;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-mono);
  }

  :root {
    --background-base: 96.1% 0.02 270.11;
    --background: oklch(var(--background-base));
    --foreground-base: 30.47% 0.02 207.53;
    --foreground: oklch(var(--foreground-base));

    --color-success-base: 60% 0.09 200;
    --color-success: oklch(var(--color-success-base));

    --color-destructive-base: 60% 0.09 20;
    --color-destructive: oklch(var(--color-destructive-base));

    --muted-base: 94.5% 0.022 270.11;
    --muted-foreground-base: 40.75% 0.011 270.11;

    --muted: oklch(var(--muted-base));
    --muted-foreground: oklch(var(--muted-foreground-base));

    --code-bg: var(--shiki-light-bg);
    --shadow-blog: 0 0 0 1px oklch(var(--foreground-base) / 0.15);

    --blog-gradient: linear-gradient(
      to right,
      oklch(var(--muted-base)) 0%,
      oklch(var(--muted-base) / 0.9) 35%,
      oklch(var(--muted-base) / 0.6) 70%,
      oklch(var(--muted-base) / 0.5) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      oklch(var(--background-base) / 1) 0%,
      oklch(var(--background-base) / 0.6) 30%,
      oklch(var(--background-base) / 0.6) 50%,
      oklch(var(--background-base) / 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        oklch(var(--background-base) / 1) 0%,
        oklch(var(--background-base) / 0.65) 30%,
        oklch(var(--background-base) / 0.65) 50%,
        oklch(var(--background-base) / 1) 100%
      );
    }
  }

  .dark {
    color-scheme: dark;
    --background-base: 26.64% 0.035 264.13;
    --background: oklch(var(--background-base));

    --foreground-base: 92.64% 0.04 264.13;
    --foreground: oklch(var(--foreground-base));

    --color-success-base: 45% 0.095 180.11;
    --color-success: oklch(var(--color-success-base));

    --color-destructive-base: 45% 0.095 10;
    --color-destructive: oklch(var(--color-destructive-base));

    --muted-base: 30.64% 0.035 264.13;
    --muted-foreground-base: 80.64% 0.04 264.13;

    --muted: oklch(var(--muted-base));
    --muted-foreground: oklch(var(--muted-foreground-base));

    --code-bg: var(--shiki-dark-bg);

    --shadow-blog: 0 0 0 1px oklch(var(--foreground-base) / 0.15);

    --blog-gradient: linear-gradient(
      to right,
      oklch(var(--muted-base) / 1) 0%,
      oklch(var(--muted-base) / 0.96) 15%,
      oklch(var(--muted-base) / 0.7) 80%,
      oklch(var(--muted-base) / 0) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      oklch(var(--background-base) / 1) 0%,
      oklch(var(--background-base) / 0.6) 30%,
      oklch(var(--background-base) / 0.6) 50%,
      oklch(var(--background-base) / 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        oklch(var(--background-base) / 1) 0%,
        oklch(var(--background-base) / 0.65) 30%,
        oklch(var(--background-base) / 1) 100%
      );
    }
  }

  /* Scrollbar CSS */

  body::-webkit-scrollbar,
  code::-webkit-scrollbar {
    width: 12px;
    height: 9px;
  }

  body::-webkit-scrollbar-track,
  code::-webkit-scrollbar-track {
    background: var(--color-muted);
  }

  body::-webkit-scrollbar-thumb,
  code::-webkit-scrollbar-thumb {
    transition: backgorund-color 200ms ease;
    background-color: oklch(var(--foreground-base) / 0.3);
    border-radius: 3px;
  }

  body::-webkit-scrollbar-thumb:hover,
  code::-webkit-scrollbar-thumb:hover {
    background-color: oklch(var(--foreground-base) / 0.7);
  }

  @supports not selector(::-webkit-scrollbar) {
    body,
    code {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  /* Codeblock CSS */
  code:not([data-language]) {
    @apply shadow-blog bg-muted rounded px-1.5 py-0.25;
  }

  [data-rehype-pretty-code-figure] code {
    @apply shadow-blog w-full min-w-[100px] overflow-x-auto rounded py-3 text-sm text-nowrap;
  }

  [data-rehype-pretty-code-title] {
    @apply bg-muted shadow-blog relative top-2 -left-1 w-fit max-w-full rounded px-3 py-1 text-sm break-words;
  }

  [data-rehype-pretty-code-caption] {
    text-align: center;
    @apply mt-2 text-xs italic;
  }

  [data-line] {
    @apply px-3 leading-7;
  }

  [data-code-line] {
    @apply bg-(--shiki-light-bg) text-(--shiki-light) dark:bg-(--shiki-dark-bg) dark:text-(--shiki-dark);
  }

  [data-highlighted-line] {
    @apply bg-foreground text-background opacity-70;
  }

  .has-diff [data-line] {
    @apply pr-3 pl-0;
  }

  [data-rehype-pretty-code-figure] code[data-line-numbers] {
    counter-reset: line;
  }

  [data-rehype-pretty-code-figure]
    code[data-line-numbers]
    > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    text-align: right;
    margin-left: 4px;
    margin-right: 1rem;
    width: 2rem;
  }

  [data-diff="add"] {
    @apply bg-success/40 border-success/80 border-l-4;
  }

  [data-rehype-pretty-code-figure]
    code[data-line-numbers]
    > [data-diff="add"]::before {
    margin-left: 0;
    content: "+ " counter(line);
  }

  [data-diff="add"]::before {
    margin-left: 0;
    content: "+";
  }

  [data-diff="remove"] {
    @apply bg-destructive/40 border-destructive/80 border-l-4;
  }

  [data-rehype-pretty-code-figure]
    code[data-line-numbers]
    > [data-diff="remove"]::before {
    margin-left: 0;
    content: "- " counter(line);
  }

  [data-diff="remove"]::before {
    margin-left: 0;
    content: "-";
  }

  .has-focused [data-line]:not([data-focused]) {
    filter: blur(1.5px);
    opacity: 0.7;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }

  .has-focused:hover [data-line],
  [data-rehype-pretty-code-title]:hover + pre [data-line] {
    filter: none;
    opacity: 1;
  }
}
