@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --grid-template-columns-custom: repeat(auto-fill, minmax(4rem, 7rem));
  --width-half: 50%;
  --list-style-type-hyphen: "– ";
  --background-image-blog-gradient: var(--blog-gradient);
  --background-image-blog-hero-gradient: var(--blog-hero-gradient);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --shadow-blog: var(--shadow-blog);

  --color-code-bg: var(--code-bg);
}

@layer base {
  :root {
    --background: hsl(224, 5%, 95%);
    --foreground: oklch(26.47% 0.0247 207.53);

    --muted: oklch(26.47% 0.1 207.53);
    --muted-foreground: hsl(224, 5%, 35%);

    --secondary: hsl(224, 5%, 35%);
    --secondary-foreground: hsl(224, 5%, 35%);

    --code-bg: var(--shiki-light-bg);

    --blog-gradient: linear-gradient(
      to right,
      hsl(224, 5%, 95%) 0%,
      hsl(224, 5%, 95%, 0.9) 35%,
      hsl(224, 5%, 95%, 0.6) 70%,
      hsl(224, 5%, 95%, 0.5) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      hsl(224, 5%, 95%, 1) 0%,
      hsl(224, 5%, 95%, 0.6) 30%,
      hsl(224, 5%, 95%, 0.6) 50%,
      hsl(224, 5%, 95%, 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        hsl(224, 5%, 95%, 1) 0%,
        hsl(224, 5%, 95%, 0.8) 30%,
        hsl(224, 5%, 95%, 0.8) 50%,
        hsl(224, 5%, 95%, 1) 100%
      );
    }

    --shadow-blog: 0 0 0 1px oklch(26.47% 0.0247 207.53 / 0.3);
  }

  .dark {
    --background: oklch(26.47% 0.0247 207.53);
    --foreground: oklch(97.06% 0.0148 207.53);

    --muted: oklch(85.15% 0.0148 207.53);
    --muted-foreground: oklch(85.15% 0.0148 207.53);

    --secondary: hsl(224, 5%, 35%);

    --code-bg: var(--shiki-dark-bg);

    --blog-gradient: linear-gradient(
      to right,
      var(--background) 0%,
      oklch(26.47% 0.0247 207.53 / 0.9) 17%,
      oklch(26.47% 0.0247 207.53 / 0.6) 80%,
      oklch(26.47% 0.0247 207.53 / 0) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      oklch(26.47% 0.0247 207.53 / 1) 0%,
      oklch(26.47% 0.0247 207.53 / 0.6) 30%,
      oklch(26.47% 0.0247 207.53 / 0.6) 50%,
      oklch(26.47% 0.0247 207.53 / 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        oklch(26.47% 0.0247 207.53 / 1) 0%,
        oklch(26.47% 0.0247 207.53 / 0.6) 30%,
        oklch(26.47% 0.0247 207.53 / 1) 100%
      );
    }

    --shadow-blog: 0 0 0 1px oklch(97.06% 0.0148 207.53 / 0.5);

    color-scheme: dark;
  }

  body {
    font-family: var(--font-mono);
  }

  [data-rehype-pretty-code-figure] pre code {
    @apply shadow-blog;
    @apply rounded;
    @apply py-3;
    width: 100%;
    text-wrap: nowrap;
    overflow-x: auto;
    min-width: 100px;
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "][data-highlighted-line],
  code[data-theme*=" "][data-highlighted-line] span {
    @apply bg-background;
  }

  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  [data-rehype-pretty-code-title] {
    @apply shadow-blog mb-2 w-fit max-w-full rounded px-2 py-1 text-sm break-words;
  }

  [data-line] {
    @apply px-3;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 0.75rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1.25rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 1.75rem;
  }

  code[data-line-numbers-max-digits="4"] > [data-line]::before {
    width: 2.25rem;
  }
}
