@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --color-gray-text: hsl(224, 5%, 35%);
  --grid-template-columns-custom: repeat(auto-fill, minmax(4rem, 7rem));
  --width-half: 50%;
  --background-image-blog-gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 35%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0.1) 100%
  );
  --background-image-blog-gradient-dark: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.95) 17%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

@layer base {
  body {
    font-family: var(--font-mono);
  }

  .astro-code {
    @apply border-2;
    padding: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
