@import 'tailwindcss';

@theme {
  --breakpoint-xs: 22rem;
  --border-width-layout: 0.75rem;
  --border-width-layout-desktop-y: 2.5rem;
  --border-width-layout-desktop-x: 4rem;
  --border-width-layout-tablet-y: 1.5rem;
  --border-width-layout-tablet-x: 2rem;
  --font-family-poppins: 'Poppins', sans-serif;
  --background-image-waves: url('/white-waves.webp');

  --border-layout: 0.75rem;
  --color-primary: var(--color-slate-800);
  --color-secondary: var(--color-slate-700);

  --animate-link: link 0.3s ease-out forwards;

  @keyframes link {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
}

@layer base {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  ::selection {
    @apply bg-secondary;
    @apply text-white;
  }

  img::selection {
    @apply bg-white;
  }
}
