/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  ::selection {
    @apply bg-secondary;
    @apply text-white;
  }

  img::selection {
    @apply bg-white;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-main] {
      view-transition-name: main;
    }

    ::view-transition-old(main) {
      animation: animation-hide 0.3s ease-in-out forwards;
    }

    ::view-transition-new(main) {
      animation: animation-show 0.3s ease-in-out forwards;
    }
  }

  @keyframes animation-show {
    0% {
      opacity: 0;
      filter: grayscale(1);
    }
    100% {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  @keyframes animation-hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
      filter: grayscale(1) blur(5px);
    }
  }
}
