/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  ::selection {
    @apply bg-secondary;
    @apply text-white;
  }

  img::selection {
    @apply bg-white;
  }

  @keyframes animation-show {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animation-hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    ::view-transition-new(root) {
      animation: animation-show 0.3s ease forwards;
    }

    ::view-transition-old(root) {
      animation: animation-hide 0.3s ease forwards;
    }
  }
}
