---
import Heading from '@components/Heading.astro';

import Layout from '@layouts/Layout.astro';

import { technologies } from './home.data';
import { Icon } from 'astro-icon';
import { homeRoute } from 'src/i18n/ui';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout routes={homeRoute}>
  <section>
    <Heading variant="primary" tag="h1">Maciej Garncarski</Heading>
    <h2 class="text-xl text-secondary md:text-2xl lg:mt-6 lg:text-3xl">
      Frontend developer
    </h2>
    <p class="mt-4 text-secondary lg:mt-6 lg:text-2xl">
      {t('home.description')}
    </p>
  </section>
  <section class="mt-10 flex flex-col gap-2 lg:mt-20 lg:gap-6">
    <div class="col-span-3">
      <Heading variant="secondary" tag="h3">{t('home.tech.heading')}</Heading>
    </div>
    <ul class="grid grid-cols-3 gap-4 lg:max-w-md lg:gap-10">
      {
        technologies.map(({ name, fileName, link }) => {
          return (
            <li class="w-full justify-self-start lg:w-auto">
              <a
                class="flex flex-col items-center justify-center gap-2 border-4 border-secondary p-2 focus:border-primary"
                href={link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon
                  name={`Logos${fileName}`}
                  class="h-16 w-16 lg:h-20 lg:w-20"
                />
                <span class="visually-hidden">{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
