---
import Heading from '@components/Heading.astro';
import HomeLink from '@components/HomeLink.astro';
import Technologies from '@components/Technologies.astro';

import Layout from '@layouts/Layout.astro';

import { homeRoute } from 'src/i18n/translations/routes';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout routes={homeRoute}>
  <Fragment slot="header">
    <Heading variant="primary" tag="h1">Maciej Garncarski</Heading>
    <h2 class="mb-2 text-secondary md:text-2xl lg:mb-6">Frontend developer</h2>
    <p class="mb-2 text-secondary lg:mb-6 lg:text-2xl">
      {t('home.description')}
    </p>
    <HomeLink href={t('nav.contact.route')} text={t('home.link-contact')} />
  </Fragment>
  <section slot="main" class="mt-10 lg:mt-20">
    <div class="col-span-3 mb-2 lg:mb-6">
      <Heading variant="secondary" tag="h3">{t('home.tech.heading')}</Heading>
    </div>
    <Technologies />
    <HomeLink href={t('nav.projects.route')} text={t('projects.heading')} />
  </section>
</Layout>
