---
import Heading from '@components/Heading.astro';

import Layout from '@layouts/Layout.astro';

import { technologies } from './home.data';
import { Icon } from 'astro-icon';
import { homeRoute } from 'src/i18n/ui';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout routes={homeRoute}>
  <section>
    <Heading variant="primary" tag="h1">Maciej Garncarski</Heading>
    <h2 class="text-xl text-secondary md:text-2xl lg:mt-2 lg:text-3xl">
      Frontend developer
    </h2>
    <p class="mt-4 text-secondary lg:mt-6 lg:text-2xl">
      {t('home.description')}
    </p>
    <a
      href={t('nav.contact.route')}
      class="mt-4 inline-flex items-center gap-2 border-2 border-primary bg-primary px-3 py-2 font-semibold text-white outline-none transition hover:bg-white hover:text-primary focus:bg-white focus:text-primary lg:mt-8 lg:text-xl">
      {t('home.button')}
      <Icon name="ph:arrow-right" class="h-6 w-6 lg:h-8 lg:w-8" />
    </a>
  </section>
  <section class="mt-10 flex flex-col gap-2 lg:mt-20 lg:gap-6">
    <div class="col-span-3">
      <Heading variant="secondary" tag="h3">{t('home.tech.heading')}</Heading>
    </div>
    <ul class="grid grid-cols-3 gap-4 lg:max-w-md lg:gap-x-20 lg:gap-y-10">
      {
        technologies.map(({ name, fileName, link }) => {
          return (
            <li class="w-full justify-self-start lg:w-auto">
              <a
                class="border-secondary focus:border-primary flex flex-col items-center justify-center gap-2 border-4 p-2"
                href={link}
                target="_blank"
                rel="noopener noreferrer">
                <Icon
                  name={`Logos${fileName}`}
                  class="h-16 w-16 lg:h-20 lg:w-20"
                />
                <span class="visually-hidden">{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
    <a
      href={t('nav.projects.route')}
      class="mt-4 inline-flex w-fit items-center gap-2 border-2 border-primary bg-primary px-3 py-2 font-semibold text-white transition hover:bg-white hover:text-primary lg:mt-8 lg:text-xl">
      {t('projects.heading')}
      <Icon name="ph:arrow-right" class="h-6 w-6 lg:h-8 lg:w-8" />
    </a>
  </section>
</Layout>
