---
import Heading from '@components/Heading.astro';

import Layout from '@layouts/Layout.astro';

import { contactRoute } from 'src/i18n/ui';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const email = 'maciejgarncarski@gmail.com';
---

<Layout routes={contactRoute}>
  <Heading tag="h1" variant="primary">{t('contact.heading')}</Heading>
  <ul class="mt-6 flex flex-col gap-3">
    <li>
      E-mail: <a href={`mailto:${email}`}>{email}</a>
    </li>
    <li>{t('contact.phone-number')}: +48 504 673 589</li>
    <li>Discord: Maciej#1842</li>
  </ul>
</Layout>
