---
import Heading from '@components/Heading.astro';

import Layout from '@layouts/Layout.astro';

import { contactRoute } from 'src/i18n/ui';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const email = 'maciejgarncarski@gmail.com';
---

<Layout routes={contactRoute}>
  <Heading tag="h1" variant="primary">{t('contact.heading')}</Heading>
  <section>
    <Heading tag="h2" variant="secondary">
      E-mail: <a href={`mailto:${email}`}>{email}</a>
    </Heading>
  </section>
</Layout>
