---
import Heading from '@components/Heading.astro';

import Layout from '@layouts/Layout.astro';

import { homeRoute } from 'src/i18n/translations/routes';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout hiddenNav={true} routes={homeRoute}>
  <div
    class="mt-20 flex flex-col items-center justify-center gap-2 text-center lg:mt-0 lg:gap-7">
    <Heading variant="primary" tag="h1">404</Heading>
    <Heading variant="secondary" tag="h2">{t('not-found.text')}</Heading>
    <a class="underline" href={t('nav.home.route')}>{t('not-found.anchor')}</a>
  </div>
</Layout>
