---
import Layout from "../layouts/Layout.astro";

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "TypeScript",
  "TailwindCSS",
  "Next.js",
  "TanStack",
  "Astro",
  "Node.js",
  "Linux"
];

const description =
  "Specjalizuję się w tworzeniu nowoczesnych i wydajnych aplikacji internetowych. Moje doświadczenie obejmuje pracę z technologiami frontendowymi i backendowymi, co pozwala mi na dostarczanie kompleksowych rozwiązań dla klientów.";
---

<Layout>
  <section class="border-b-2 p-4" aria-labelledby="O mnie">
    <p class="text-pretty">
      {description}
    </p>
  </section>

  <section class="flex flex-col gap-4 border-b-2 p-4 pb-8">
    <h2 class="text-lg font-bold">Doświadczenie</h2>
    <ul>
      <li class="flex flex-col gap-2">
        <div class="flex justify-between font-semibold">
          <p class="max-w-48">Fullstack developer</p>
          <p class="text-right">paź. 2023 - gru. 2024</p>
        </div>
        <p class="text-gray-text text-sm">
          Tworzenie panelu administratora dla największego serwera Minecraft w
          Polsce.
          <br />
          Pracowałem z następującymi technologiami: React, TypeScript, Node.js, Fastify,
          Prisma, MySQL, WebSocket.
          Panel obsługuje role i uprawnienia do uwierzytelniania i autoryzacji oraz statusy użytkowników (online/offline) w oparciu o WebSocket.
        </p>
      </li>
    </ul>
  </section>

  <section class="flex flex-col gap-4 p-4">
    <h2 class="text-lg font-bold">Technologie</h2>
    <ul class="grid-cols-custom grid gap-2">
      {
        skills.map((s) => {
          return (
            <li class="bg-black px-3 py-1 text-xs text-white md:text-sm dark:bg-white dark:text-black">
              {s}
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
