---
import HomeSection from "../components/HomeSection.astro";
import Layout from "../layouts/Layout.astro";

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "TypeScript",
  "TailwindCSS",
  "Next.js",
  "TanStack",
  "Astro",
  "Node.js",
  "Linux"
];

const description =
  "Specjalizuję się w tworzeniu nowoczesnych i wydajnych aplikacji internetowych. Moje doświadczenie obejmuje pracę z technologiami frontendowymi i backendowymi, co pozwala mi na dostarczanie kompleksowych rozwiązań dla klientów.";
---

<Layout>
  <header class="text-primary-foreground flex flex-col gap-5">
    <div
      class="flex flex-col gap-1 font-bold md:flex-row md:gap-5 lg:items-center">
      <h1 class="text-2xl uppercase">Maciej Garncarski</h1>
      <span class="hidden md:inline">&#x2022;</span>
      <p class="uppecase text-2xl">Fullstack developer</p>
    </div>

    <p class="text-muted-foreground text-left text-pretty">
      {description}
    </p>
  </header>

  <HomeSection>
    <h2 class="text-lg font-bold">Doświadczenie</h2>
    <ul>
      <li class="flex flex-col gap-2">
        <div class="flex justify-between">
          <p class="max-w-48 font-semibold lg:max-w-96">
            Fullstack developer (part-time)
          </p>
          <p class="text-right">lis. 2023 - gru. 2024</p>
        </div>
        <p>Kokscraft</p>
        <p class="text-muted-foreground text-sm">
          Tworzenie panelu administratora dla największego serwera Minecraft w
          Polsce.
          <br />
          Pracowałem z następującymi technologiami: React, TypeScript, Node.js, Fastify,
          Prisma, MySQL, WebSocket. Panel obsługuje role i uprawnienia do uwierzytelniania
          i autoryzacji oraz statusy użytkowników (online/offline) w oparciu o WebSocket.
        </p>
      </li>
    </ul>
  </HomeSection>

  <HomeSection>
    <h2 class="text-lg font-bold">Open source</h2>
    <ul>
      <li class="flex flex-col gap-2">
        <div class="flex justify-between">
          <p class="max-w-48 font-semibold">TanStack Router</p>
          <a
            target="_blank"
            href="https://github.com/TanStack/router/pull/2247"
            class="underline">Link</a
          >
        </div>
        <p class="text-muted-foreground text-sm">
          Rozwiązałem problem w bibliotece TanStack Router, który powodował
          blokowanie wyświetlania komponentu ładowania "pendingComponent", gdy
          był ustawiony tryb przedwczesnego doładowywania (preload="intent").
        </p>
      </li>
    </ul>
  </HomeSection>

  <HomeSection>
    <h2 class="text-lg font-bold">Technologie</h2>
    <ul class="grid grid-cols-3 gap-2 md:grid-cols-4 lg:grid-cols-6">
      {
        skills.map((s) => {
          return (
            <li class="bg-foreground/90 text-background rounded px-3 py-1 text-xs font-semibold md:text-sm">
              {s}
            </li>
          );
        })
      }
    </ul>
  </HomeSection>
</Layout>
