---
import Layout from "../layouts/Layout.astro";

type Contact = {
  text: string;
  data: string;
};

const contactInfo: Array<Contact> = [
  {
    text: "Email",
    data: "maciejgarncarski@gmail.com"
  },
  {
    text: "Numer telefonu",
    data: "+48 504 673 589"
  },
  {
    text: "Discord",
    data: "maciekdeveloper"
  }
];
---

<Layout>
  <div>
    <ul class="flex flex-col gap-8">
      {
        contactInfo.map((c) => {
          return (
            <li class="flex flex-col justify-between text-lg md:flex-row">
              <p>{c.text}</p>
              <p>{c.data}</p>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
