---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

type Project = {
    repo?: string;
    live?: string;
    description: string;
    name: string;
}

const projects: Array<Project> = [
    {
        name: 'Serwer plików',
        description: 'Interfejs użytkownika dla dysku zamontowanego poprzez SSHFS na VPS. Aplikacja posiada proste uwierzytelnianie użytkownika za pomocą hasła. Sesje użytkownika zapisywane są do bazy danych Redis. Dysk jest zamontowany przez SSHFS, ale wszystkie operacje polegają na systemie Linux, nie po SSHFS. Zdecydowałem się na takie rozwiązanie ze względu na 20-krotny wzrost wydajności w porównaniu do SSHFS. Serwer nginx używany jest do serwowania plików statycznych z tego dysku. Użytkownik może tworzyć nowe katalogi, przesyłać pliki, wyświetlać pliki na stronie (audio, wideo, kod, PDF) oraz je pobierać.',
    },
    {
        name: 'Photo App',
        description: 'PhotoApp to aplikacja społecznościowa inspirowana aplikacją Instagram. Użytkownik może tworzyć posty, polubiać je i dodawać do nich komentarze. W aplikacji dostępny jest chat, który używa WebSocket do komunikacji. Do stworzenia frontendu użyłem frameworka Next.js, TypeScript, Tanstack Query i TailwindCSS, natomiast do backendu użyłem Fastify, TypeScript oraz ImageKit do przechowywania obrazów dodanych przez użytkowników. Do komunikacji z bazą użyłem PostgreSQL i Prisma. Do komunikacji pomiędzy frontendem i backendem użyłem openapi-typescript.',
        live: 'https://photoapp.maciej-garncarski.pl/',
        repo: 'https://github.com/MaciejGarncarski/photo-app'
    }
]

---

<Layout>
    <div class="p-4 flex flex-col gap-8">
        {projects.map((p) => {
            return <article class="flex flex-col gap-2">
                <h2>
                    {p.name}
                </h2>
                <p class="text-sm">{p.description}</p>
                <div class="flex gap-2">
                {p.live && <a target="_blank" class="border p-1 text-sm" href={p.live}>Demo</a>}
                {p.repo && <a target="_blank" class="border p-1 text-sm" href={p.repo}>Repozytorium</a>}
                </div>
            </article>
        })}
    </div>
</Layout>