---
type Props = {
  tag: "h2" | "h3" | "h4" | "h5" | "h6";
  href?: string;
  text: string;
};

const { text, tag: Element = "h2", href } = Astro.props;
---

<Element id={href} class="text-foreground text-lg font-semibold">
  <a href={"#" + href}>
    {text}
  </a>
</Element>
