---
import { cva } from "cva";

type Variant = "primary" | "secondary" | "ghost";

type Props = {
  readonly type: "submit" | "button" | "reset";
  readonly variant?: Variant;
};

const { type, variant = "primary" } = Astro.props;

const buttonVariants = cva({
  base: "font-semibold border-1 w-32 h-10",
  variants: {
    variant: {
      primary: "bg-white text-black",
      secondary: "bg-black text-white",
      ghost: "border-none"
    }
  }
});
---

<button type={type} class={buttonVariants({ variant: variant })}>
  <slot />
</button>
