---
import CopyButton from '@components/CopyButton.astro';

import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const emailAddress = 'maciejgarncarski@gmail.com';
const phoneNumber = '+48 504 673 589';
const discordName = 'maciekdeveloper';

const contactData = [
  {
    key: 'E-mail',
    value: emailAddress
  },
  {
    key: t('contact.phone-number'),
    value: phoneNumber
  },
  {
    key: 'Discord',
    value: discordName
  }
];
---

<ul class="mt-10 flex max-w-2xl flex-col gap-3 md:text-xl md:gap-6 lg:text-2xl">
  {
    contactData.map(({ key, value }) => {
      return (
        <li class="flex w-full items-center justify-between gap-6">
          <p class="flex flex-grow flex-col md:flex-row md:items-center md:gap-2">
            <span class="text-xl font-black md:text-2xl">{`${key}:`}</span>
            <span class="max-w-[185px] overflow-hidden text-ellipsis text-sm xs:max-w-none xs:overflow-auto md:text-xl lg:text-2xl">
              {value}
            </span>
          </p>
          <CopyButton valueToBeCopied={value} />
        </li>
      );
    })
  }
</ul>
