---
import LanguagePicker from './LanguagePicker.astro';
import { Icon } from 'astro-icon';

const currentYear = new Date().getFullYear();

const socials = [
  {
    name: 'LinkedIn',
    link: 'https://www.linkedin.com/in/maciej-garncarski/'
  },
  {
    name: 'GitHub',
    link: 'https://github.com/maciejgarncarski'
  },
  {
    name: 'Twitter',
    link: 'https://twitter.com/MGarncarski'
  }
] as const;
---

<footer
  class="-mx-3 min-h-[160px] bg-primary px-6 py-6 text-white sm:-mx-7 sm:-mb-1 lg:-mx-10">
  <div
    class="mx-auto flex flex-col gap-y-7 md:max-w-lg lg:max-w-4xl lg:gap-y-10">
    <LanguagePicker />
    <ul class="flex flex-wrap gap-6 gap-y-3 lg:gap-6">
      {
        socials.map(({ link, name }) => {
          return (
            <li>
              <a
                href={link}
                class="flex items-center focus:underline lg:gap-1"
                target="_blank">
                <span>{name}</span>
                <Icon name="ph:arrow-up-right" class="h-5 w-5 lg:h-6 lg:w-6" />
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="max-w-prose">
      &#169; {currentYear}
    </p>
  </div>
</footer>
