---
import LanguagePicker from './LanguagePicker.astro';
import { Icon } from 'astro-icon/components';

const socials = [
  {
    icon: 'ph:github-logo',
    name: 'GitHub',
    link: 'https://github.com/maciejgarncarski'
  }
] as const;
---

<footer class="min-h-[160px] w-full bg-primary px-1 py-4 text-white">
  <div class="flex flex-col gap-y-4 lg:max-w-prose w-full lg:gap-y-6">
    <LanguagePicker />
    <ul class="flex flex-wrap gap-4">
      {
        socials.map(({ link, name, icon }) => {
          return (
            <li>
              <a
                href={link}
                class="flex items-center relative before:h-[2px] bg-white text-primary py-1 px-2 hover:bg-primary border-white transition-colors border border-transparent hover:text-white rounded font-medium"
                target="_blank">
                <Icon name={icon} class="w-6 h-6 mr-1" />
                <span>{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="max-w-prose">&#169; Maciej Garncarski</p>
  </div>
</footer>
