---
import type { ImageMetadata } from "astro";
import github from "../assets/github.svg";
import xIcon from "../assets/x.svg";
import cvIcon from "../assets/cv.svg";
import { Image } from "astro:assets";

type Social = {
  url: string;
  icon: ImageMetadata;
  name: string;
};

const socials: Array<Social> = [
  {
    name: "GitHub",
    icon: github,
    url: "https://github.com/maciejgarncarski"
  },
  {
    name: "X",
    icon: xIcon,
    url: "https://x.com/MGarncarski"
  },
  {
    name: "CV",
    icon: cvIcon,
    url: "/cv"
  }
];
---

<footer class="flex items-center gap-6 p-4">
  {
    socials.map((s) => {
      return (
        <a href={s.url} target="_blank" class="w-fit" title={s.name}>
          <Image
            src={s.icon}
            alt=""
            width="30"
            height="30"
            class="h-6 w-6 lg:h-7 lg:w-7 dark:invert-100"
          />
          <span class="sr-only">{s.name}</span>
        </a>
      );
    })
  }
  <p class="ml-auto text-right text-xs md:text-sm">
    &copy; 2025 Maciej Garncarski. <br /> Wszelkie prawa zastrzeżone.
  </p>
</footer>
