---
import LanguagePicker from './LanguagePicker.astro';
import { Icon } from 'astro-icon/components';
import { t, useTranslations, getLangFromUrl } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socials = [
  {
    icon: 'ph:github-logo',
    name: 'GitHub',
    link: 'https://github.com/maciejgarncarski'
  }
] as const;
---

<footer
  class="px-1 mt-4 md:my-8 mb-0 flex-col gap-6 flex text-white z-10 md:mx-auto md:w-[40rem] lg:w-2xl">
  <div class="flex flex-col gap-6 justify-between lg:flex-row">
    <LanguagePicker />
    <ul class="flex flex-wrap gap-6">
      {
        socials.map(({ link, name, icon }) => {
          return (
            <li>
              <a
                href={link}
                data-astro-prefetch
                class="flex items-center relative before:h-[2px] focus:outline-2 focus:outline-white focus:outline-offset-4 text-sm bg-white text-primary py-1 px-3 hover:bg-primary border-white transition-colors border border-transparent hover:text-white font-medium"
                target="_blank">
                <Icon name={icon} class="w-6 h-6 mr-1" />
                <span>{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <p class="max-w-prose text-xs text-gray-400">
    &#169; 2024 Maciej Garncarski. {t('footer.rights')}
  </p>
</footer>
