---
import LanguagePicker from './LanguagePicker.astro';
import { Icon } from 'astro-icon/components';

const socials = [
  {
    icon: 'ph:github-logo',
    name: 'GitHub',
    link: 'https://github.com/maciejgarncarski'
  }
] as const;
---

<footer class="px-1 mt-4 md:my-8 mb-0 flex-col gap-6 flex text-white z-10">
  <div
    class="flex flex-col xs:gap-0 gap-4 xs:flex-row justify-between md:justify-start md:gap-8">
    <LanguagePicker />
    <ul class="flex flex-wrap gap-4">
      {
        socials.map(({ link, name, icon }) => {
          return (
            <li>
              <a
                href={link}
                data-astro-prefetch
                class="flex items-center relative before:h-[2px] text-sm bg-white text-primary py-1 px-2 hover:bg-primary border-white transition-colors border border-transparent hover:text-white rounded font-medium"
                target="_blank">
                <Icon name={icon} class="w-5 h-5 mr-1" />
                <span>{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <p class="max-w-prose text-xs text-gray-400">
    &#169; 2024 Maciej Garncarski. All rights reserved.
  </p>
</footer>
