---
import LanguagePicker from './LanguagePicker.astro';
import { Icon } from 'astro-icon/components';

const socials = [
  {
    name: 'LinkedIn',
    link: 'https://www.linkedin.com/in/maciej-garncarski/'
  },
  {
    name: 'GitHub',
    link: 'https://github.com/maciejgarncarski'
  },
  {
    name: 'X/Twitter',
    link: 'https://twitter.com/MGarncarski'
  }
] as const;
---

<footer class="min-h-[160px] w-full bg-primary px-1 py-4 text-white">
  <div class="flex flex-col gap-y-4 lg:max-w-prose w-full lg:gap-y-6">
    <LanguagePicker />
    <ul class="flex flex-wrap gap-4">
      {
        socials.map(({ link, name }) => {
          return (
            <li>
              <a
                href={link}
                class="flex items-center relative before:h-[2px] before:rounded before:w-[95%] before:absolute before:left-[2.5%] before:-bottom-[2px] before:bg-white lg:gap-[2px]"
                target="_blank">
                <span>{name}</span>
                <Icon name="ph:arrow-up-right" class="h-5 w-5" />
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="max-w-prose">&#169; Maciej Garncarski</p>
  </div>
</footer>
