---
import { Icon } from 'astro-icon';

export type Props = {
  text: string;
  href: string;
};

const { text, href } = Astro.props;
---

<a
  href={href}
  class="inline-flex w-fit items-center gap-2 border-2 border-primary bg-primary px-3 py-2 font-semibold text-white transition hover:bg-white hover:text-primary focus:outline-none focus:ring-4 focus:ring-primary focus:ring-offset-4 lg:text-lg">
  <span>
    {text}
  </span>
  <Icon name="ph:arrow-right" class="h-6 w-6 lg:h-8 lg:w-8" />
</a>
