---
import { Icon } from 'astro-icon/components';
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath
} from 'src/i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const languageData = [
  {
    lang: 'pl',
    languageName: 'Polski',
    flagName: 'openmoji:flag-poland'
  },
  {
    lang: 'en',
    languageName: 'English',
    flagName: 'openmoji:flag-united-kingdom'
  }
] as const;
---

<ul class="flex gap-6">
  {
    languageData.map(({ flagName, languageName, lang }) => {
      return (
        <li>
          <a
            data-astro-prefetch
            href={translatePath(`/${route ? route : ''}`, lang)}
            class="flex items-center gap-1 focus:outline-2 focus:outline-white focus:outline-offset-4 px-2 py-0 text-primary border border-primary hover:border-white hover:bg-primary hover:text-white bg-white"
            data-lang={lang}>
            <Icon name={flagName} class="w-8 h-8" />
            <span class="leading-none">{languageName}</span>
          </a>
        </li>
      );
    })
  }
</ul>
