---
import { Icon } from 'astro-icon';

export type Props = {
  routes: Record<'en' | 'pl', string>;
};

const { pl, en } = Astro.props.routes;
---

<ul class="flex gap-6">
  <li>
    <a href={pl} class="flex items-center gap-1">
      <Icon name="openmoji:flag-poland" class="w-8" />
      Polski
    </a>
  </li>
  <li>
    <a href={en} class="flex items-center gap-1">
      <Icon name="openmoji:flag-united-kingdom" class="w-8" />
      English
    </a>
  </li>
</ul>
