---
import { Icon } from 'astro-icon';

export type Props = {
  routes: Record<'en' | 'pl', string>;
};

const { pl, en } = Astro.props.routes;

const languageData = [
  {
    href: pl,
    languageName: 'Polski',
    flagName: 'openmoji:flag-poland'
  },
  {
    href: en,
    languageName: 'English',
    flagName: 'openmoji:flag-united-kingdom'
  }
];
---

<ul class="flex gap-6">
  {
    languageData.map(({ flagName, href, languageName }) => {
      return (
        <li>
          <a href={href} class="flex items-center gap-1 font-bold">
            <Icon name={flagName} class="w-8" />
            <span class="leading-none">{languageName}</span>
          </a>
        </li>
      );
    })
  }
</ul>
