---
import { Icon } from 'astro-icon';

export type Props = {
  routes: Record<'en' | 'pl', string>;
};

const { pl, en } = Astro.props.routes;
---

<ul class="flex gap-4">
  <li>
    <a href={pl}>
      <Icon name="openmoji:flag-poland" class="w-8" />
      <span class="visually-hidden">Polski</span>
    </a>
  </li>
  <li>
    <a href={en}>
      <Icon name="openmoji:flag-united-kingdom" class="w-8" />
      <span class="visually-hidden">English</span></a
    >
  </li>
</ul>
