---
import clsx from 'clsx';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Route = {
  href: string;
  text: string;
};

const navRoutesData = [
  {
    href: t('nav.home.route'),
    text: t('nav.home')
  },
  {
    href: t('nav.projects.route'),
    text: t('nav.projects')
  },
  {
    href: t('nav.contact.route'),
    text: t('nav.contact')
  }
] satisfies Array<Route>;
---

<nav
  class="mb-8 mt-4 border-4 border-slate-900 py-3 sm:px-1 md:mx-auto md:w-fit md:px-10 lg:mb-0 lg:mt-12 lg:px-10 lg:py-3"
  data-nav>
  <ul
    class="flex items-center justify-around font-bold uppercase md:justify-center md:gap-20 lg:gap-24">
    {
      navRoutesData.map(({ href, text }) => {
        const activeClass =
          'before:bg-primary before:left-0 before:animate-link-active relative before:absolute lg:before:bottom-0 before:-bottom-1 before:h-1 before:w-full before:origin-center';
        return (
          <li>
            <a
              class={clsx(
                href === Astro.url.pathname && activeClass,
                'border-2 border-transparent focus:border-primary focus:outline-none sm:p-1 lg:p-2'
              )}
              href={href}>
              {text}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
