---
import { Icon } from 'astro-icon';
import clsx from 'clsx';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

export type Props = {
  href: string;
  variant: 'primary' | 'secondary';
};

const { href, variant } = Astro.props;

const classNames = {
  primary: 'bg-primary text-white',
  secondary: 'text-primary bg-white'
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a
  href={href}
  target="_blank"
  rel="noreferrer noopener"
  class={clsx(
    classNames[variant],
    'flex items-center gap-1 border-2 border-primary px-2 py-1 focus:ring-4 focus:ring-secondary focus:ring-offset-4 focus:outline-none font-semibold'
  )}>
  <span>
    {t(variant === 'primary' ? 'projects.live' : 'projects.repo')}
  </span>
  <Icon name="ph:arrow-up-right" class="h-5 w-5 lg:h-6 lg:w-6" />
</a>
