---
import { Icon } from 'astro-icon/components';
---

<button
  data-scroll-button
  data-state="hidden"
  type="button"
  class="fixed bottom-2 data-[state=visible]:opacity-100 data-[state=visible]:translate-y-0 data-[state=visible]:lg:translate-y-0
  data-[state=hidden]:opacity-0 data-[state=hidden]:translate-y-20 data-[state=hidden]:lg:translate-y-32
  right-6 h-14 w-14 border-2 z-20 rounded border-secondary bg-primary p-2 text-white transition-all hover:bg-white hover:text-primary focus:translate-y-0 focus:bg-white focus:text-primary focus:opacity-100 flex items-center justify-center focus:outline-none focus:ring-4 focus:ring-primary focus:ring-offset-4 md:bottom-10 md:right-6 md:h-16 md:w-16 lg:bottom-12 lg:right-24">
  <Icon name="ph:arrow-up-bold" class="w-8 h-8" />
  <span class="visually-hidden">Scroll to top</span>
</button>

<script>
  const handleScrollButton = () => {
    const scrollButton = document.querySelector(
      '[data-scroll-button]'
    ) as HTMLButtonElement;

    const SCROLL_TOP_MARGIN = 200;

    const handleScroll = () => {
      const { scrollY } = window;

      if (scrollY >= SCROLL_TOP_MARGIN) {
        scrollButton.dataset.state = 'visible';
        return;
      }

      scrollButton.dataset.state = 'hidden';
    };

    const handleClick = () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
      scrollButton.blur();
    };

    window.addEventListener('scroll', handleScroll, { passive: true });
    scrollButton.addEventListener('click', handleClick);
  };

  handleScrollButton();
  document.addEventListener('astro:after-swap', handleScrollButton);
</script>
