---
import { Icon } from 'astro-icon';
---

<button
  data-scroll-button
  type="button"
  class="lg:h-18 lg:w-18 fixed bottom-2 right-6 h-14 w-14 bg-primary p-2 text-white opacity-0 transition-all lg:bottom-12 lg:right-24"
>
  <Icon name="ph:arrow-up" />
  <span class="visually-hidden">Scroll up</span>
</button>

<script>
  const scrollButton = document.querySelector('[data-scroll-button]');
  const SCROLL_MARGIN = 200;

  const handleScroll = () => {
    const { scrollY, innerHeight } = window;
    const { clientHeight } = document.body;
    const scrollHeight = clientHeight - innerHeight - 100;
    if (scrollY < SCROLL_MARGIN || scrollY > scrollHeight) {
      scrollButton?.classList.add('translate-y-14', 'opacity-0');
      return;
    }

    scrollButton?.classList.remove('translate-y-14', 'opacity-0');
  };
  handleScroll();

  const handleClick = () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  };

  window.addEventListener('scroll', handleScroll, { passive: true });
  scrollButton?.addEventListener('click', handleClick);
</script>
