---
import astro from '@assets/icons/astro.svg';
import css from '@assets/icons/css.svg';
import fastify from '@assets/icons/fastify.svg';
import html5 from '@assets/icons/html5.svg';
import javascript from '@assets/icons/javascript.svg';
import next from '@assets/icons/nextjs_icon_dark.svg';
import nodejs from '@assets/icons/nodejs.svg';
import react from '@assets/icons/react.svg';
import sass from '@assets/icons/sass.svg';
import tailwindcss from '@assets/icons/tailwindcss.svg';
import typescript from '@assets/icons/typescript.svg';
import vitest from '@assets/icons/vitest.svg';
import { Image } from 'astro:assets';

export const technologies = [
  {
    name: 'HTML',
    src: html5,
    link: 'https://www.w3.org/html/'
  },
  {
    name: 'HTML',
    src: css,
    link: 'https://www.w3.org/Style/CSS/'
  },
  {
    name: 'JavaScript',
    src: javascript,
    link: 'https://javascript.info/'
  },
  {
    name: 'TypeScript',
    src: typescript,
    link: 'https://www.typescriptlang.org/'
  },
  {
    name: 'Node.js',
    src: nodejs,
    link: 'https://nodejs.org/'
  },
  {
    name: 'Fastify',
    src: fastify,
    link: 'https://fastify.dev/'
  },
  {
    name: 'Sass',
    src: sass,
    link: 'https://sass-lang.com/'
  },
  {
    name: 'Tailwind CSS',
    src: tailwindcss,
    link: 'https://tailwindcss.com/'
  },
  {
    name: 'React',
    src: react,
    link: 'https://react.dev/'
  },
  {
    name: 'Next',
    src: next,
    link: 'https://nextjs.org/'
  },
  {
    name: 'Astro',
    src: astro,
    link: 'https://astro.build/'
  },
  {
    name: 'Vitest',
    src: vitest,
    link: 'https://vitest.dev/'
  }
];
---

<ul
  class="mb-4 grid w-fit grid-cols-3 xs:grid-cols-4 gap-2 xs:gap-4 md:gap-8 lg:mb-8">
  {
    technologies.map(({ name, src, link }) => {
      return (
        <li class="justify-self-start" title={name}>
          <a
            class="flex flex-col items-center justify-center gap-2 border-[3px] bg-slate-50 rounded border-primary p-2 ring-primary hover:ring-1 focus:outline-none focus:ring-4 focus:ring-offset-4"
            href={link}
            data-astro-prefetch
            target="_blank"
            rel="noopener noreferrer">
            <Image
              loading={'eager'}
              src={src}
              class="w-10 h-10 xs:h-11 xs:w-11 lg:h-16 lg:w-16 object-contain text-xs text-gray-500"
              alt={name}
            />
          </a>
        </li>
      );
    })
  }
</ul>
