---
import { Image } from 'astro:assets';
import { technologies } from 'src/data/Technologies.data.astro';
---

<ul
  class="mb-4 grid w-fit grid-cols-3 sm:grid-cols-4 gap-2 sm:gap-4 md:gap-8 lg:mb-8">
  {
    technologies.map(({ name, src, link }) => {
      return (
        <li class="justify-self-start">
          <a
            class="flex flex-col items-center justify-center gap-2 border-[3px] bg-slate-100 rounded border-primary p-2 ring-primary hover:ring-1 focus:outline-none focus:ring-4 focus:ring-offset-4"
            href={link}
            data-astro-prefetch
            target="_blank"
            rel="noopener noreferrer">
            <Image
              loading={'eager'}
              src={src}
              class="w-10 h-10 xs:h-14 xs:w-14 lg:h-16 lg:w-16"
              alt={name}
            />
          </a>
        </li>
      );
    })
  }
</ul>
