---
import "../styles/global.css";
import "@fontsource-variable/jetbrains-mono";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import PreventThemeFlash from "../components/PreventThemeFlash.astro";
import SEO from "../components/SEO.astro";
import { ClientRouter } from "astro:transitions";

import { fade } from "astro:transitions";
import type {
  TransitionAnimation,
  TransitionAnimationPair,
  TransitionDirectionalAnimations
} from "astro";

const mainEntranceAnimationInBlur: TransitionAnimation = {
  name: "mainEntranceBlur",
  duration: "0.5s"
};

const mainEntranceAnimationIn: TransitionAnimation = {
  name: "mainEntrance",
  duration: "0.3s"
};

const mainEntranceAnimationOut: TransitionAnimation = {
  name: "mainEntranceOut"
};

const mainEntrancePair: TransitionAnimationPair = {
  old: mainEntranceAnimationOut,
  new: [mainEntranceAnimationIn, mainEntranceAnimationInBlur]
};

const mainEntrance: TransitionDirectionalAnimations = {
  forwards: mainEntrancePair,
  backwards: mainEntrancePair
};
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💻</text></svg>"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <PreventThemeFlash />

    <slot name="head">
      <SEO />
    </slot>

    <ClientRouter />

    <script is:inline>
      document.addEventListener("astro:after-swap", function () {
        document.documentElement.classList.toggle(
          "dark",
          localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
        );
        localStorage.theme = "light";
        localStorage.theme = "dark";
        localStorage.removeItem("theme");
      });
    </script>
  </head>
  <body
    class="text-foreground bg-background p-5 lg:p-0"
    transition:animate={fade({ duration: "0.1s" })}>
    <div class="mx-auto flex max-w-[58rem] flex-col gap-10 lg:my-15">
      <Navigation />

      <main
        class="flex min-h-[30rem] flex-col gap-8"
        transition:animate={mainEntrance}>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @keyframes mainEntranceOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes mainEntranceBlur {
    0% {
      filter: blur(2px);
    }

    100% {
      filter: blur(0);
    }
  }

  @keyframes mainEntrance {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
