---
import '@fontsource/montserrat';
import '@styles/tw-base.css';
import { getLangFromUrl } from '../i18n/utils';
import { title } from 'src/utils/ui';
import LanguagePicker from '@components/LanguagePicker.astro';
import Nav from '@components/Nav.astro';

const lang = getLangFromUrl(Astro.url);

export type Props = {
  routes: Record<'en' | 'pl', string>;
  hiddenNav?: boolean;
};

const { routes, hiddenNav } = Astro.props;
---

<!DOCTYPE html>
<html class="bg-waves" lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="border-2 border-slate-900 p-2 sm:border-layout sm:p-4 lg:border-layout-desktop lg:px-6 lg:py-10"
  >
    {!hiddenNav && <Nav />}
    <main class="min-h-[450px] lg:mx-auto lg:max-w-7xl">
      <slot />
    </main>
    <footer
      class="-m-2 mt-0 min-h-[150px] bg-primary p-2 text-white sm:-m-6 sm:mt-0"
    >
      <LanguagePicker routes={routes} />
    </footer>
  </body>
</html>
