---
import "../styles/global.css";
import "@fontsource-variable/jetbrains-mono";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import PreventThemeFlash from "../components/PreventThemeFlash.astro";
import SEO from "../components/SEO.astro";
import { ClientRouter } from "astro:transitions";

import { fade } from "astro:transitions";

import { mainEntrance } from "../utils/animation";
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <PreventThemeFlash />

    <slot name="head">
      <SEO />
    </slot>

    <ClientRouter fallback="swap" />

    <script is:inline>
      document.addEventListener("astro:after-swap", function () {
        document.documentElement.classList.toggle(
          "dark",
          localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
        );
        localStorage.theme = "light";
        localStorage.theme = "dark";
        localStorage.removeItem("theme");
      });
    </script>
  </head>
  <body
    class="text-foreground bg-background p-5 lg:p-0"
    transition:animate={fade({ duration: "0.1s" })}>
    <div class="mx-auto my-4 flex max-w-[58rem] flex-col gap-10 lg:my-10">
      <Navigation />

      <main
        class="flex min-h-[40rem] flex-col gap-8"
        transition:animate={mainEntrance}>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @keyframes mainEntrance {
    0% {
      opacity: 0;
      transform: translate3d(0, 1rem, 0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes mainEntranceOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @media (width >= 64rem) {
    @keyframes mainEntrance {
      0% {
        opacity: 0.2;
        transform: translate3d(0, 2rem, 0);
        filter: blur(10px);
      }

      100% {
        opacity: 1;
        transform: translate3d(0, 0rem, 0);
        filter: blur(0px);
      }
    }
  }
</style>
